{% extends 'base.html.twig' %}

{% block title %}Hello RecruiterController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
                {{ dump(app.user) }}
        
        {% if app.user and type == 3 %}
            <h2 class="pt-4 pb-1">Bienvenue {{ app.user.firstname }}, cher recruteur</h2>
            <hr>
            <h3>Entreprise : {{ app.user.company.name }}</h3> 
            <div class="d-flex"> 
                <div class="py-3">
                {{ dump(app.user.id) }}
                    <a class="btn btn-primary py-2 px-3" href="{{ path('app_recruiter_show_ad', {'id': app.user.id} ) }}" role="button">Voir mes annonces ></a>
                </div>
            </div>  
            <div class="col-3">
                <img src="{{ app.user.company.image }}" class="img-company-recruiter" alt="Description de l'image">
            </div>
            <div class="col-9">
                <p>Description : {{ app.user.company.description }} </p>
            </div>
        {% else  %}
            <div class="col">
                <h2>Votre compte ne vous permet pas d'accéder à cette page</h2>
            </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}
